<!-- Footer -->
<footer class="footer text-center">
	<div class="container">
		<div class="row">
			​
			<!-- Footer Location -->
			<div class="col-lg-6 mb-5 mb-lg-0">
				<h4 class="text-uppercase mb-4">BOOSTCAMP</h4>
				<p class="lead mb-0">열심히 하는 <br />부스트캠퍼들</p>
			</div>
			​
			<!-- Footer Social Icons -->
			<div class="col-lg-6 mb-5 mb-lg-0">
				<h4 class="text-uppercase mb-4">짱짱맨</h4>
				<a class="btn btn-outline-light btn-social mx-1" href="#">
					<i class="fab fa-fw fa-facebook-f"></i>
				</a>
				<a class="btn btn-outline-light btn-social mx-1" href="#">
					<i class="fab fa-fw fa-twitter"></i>
				</a>
				<a class="btn btn-outline-light btn-social mx-1" href="#">
					<i class="fab fa-fw fa-linkedin-in"></i>
				</a>
				<a class="btn btn-outline-light btn-social mx-1" href="#">
					<i class="fab fa-fw fa-dribbble"></i>
				</a>
			</div>
			​
		</div>
	</div>
</footer>

<!-- Copyright Section -->
<section class="copyright py-4 text-center text-white">
	<div class="container">
		<small>Copyright (C) FOODRUCE 2019</small>
	</div>
</section>
