<html>
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<meta name="description" content="" />
		<meta name="author" content="" />

		<title>FOODRUCE 101</title>

		<!-- Custom fonts for this theme -->
		<link
			href="vendor/fontawesome-free/css/all.min.css"
			rel="stylesheet"
			type="text/css"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
			rel="stylesheet"
			type="text/css"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
			rel="stylesheet"
			type="text/css"
		/>

		<!-- Theme CSS -->
		<link href="css/freelancer.min.css" rel="stylesheet" />
	</head>

	<body>
		<link
			rel="stylesheet"
			href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"
		/>
		<script src="//code.jquery.com/jquery.min.js"></script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
		<script type="text/javascript">
			$(function() {
				var ingres = [
					"고구마",
					"감",
					"닭",
					"당근",
					"후추",
					"양배추",
					"샐러리",
					"양파",
					"감자",
					"마늘",
					"삼겹살",
					"소금",
					"스파게티면",
					"치즈",
					"달걀",
					"버터",
					"닭가슴살",
					"닭안심",
					"닭발",
					"닭날개",
					"닭다리",
					"소고기",
					"양고기",
					"치킨",
					"소등심",
					"소안심"
				];
				$("#foodIngredients1").autocomplete({
					source: ingres
				});
				$("#foodIngredients2").autocomplete({
					source: ingres
				});
			});
		</script>

		<!-- Navigation -->
		<% include ./components/header %>​ 
		<!--<h1>재료를 입력해주세요</h1>-->
		<form action="/chuchun" method="POST" autocomplete="off">
			<!--<h3>재료1</h3> : <input type="text" name="inp1"><br>-->
			<!--<h3>재료2</h3> : <input type="text" name="inp2"><br>-->
			<!--<button></button>-->
			<!--<input type="submit">-->
			<!--</form>-->
			<!--<form name="sentMessage" id="contactForm" novalidate="novalidate">-->
			<div style="height : 120"></div>
			<div class="control-group" style="text-align: center">
				<img
					class="masthead-avatar"
					src="img/avataaars.svg"
					alt=""
					style="height : 300"
				/>
			</div>
			<div class="control-group">
				<div class="form-group floating-label-form-group controls mb-0 pb-2">
					<label>Email Address</label>
					<input
						class="mdb-autocomplete form-control"
						id="foodIngredients1"
						name='jeryo1'
						placeholder="첫번째 재료를 입력해주세요"
						style="text-align: center"
					/>
					<!--<input class="form-control" id="email" type="email" placeholder="첫번째 재료를 입력해주세요" required="required" data-validation-required-message="Please enter your email address." style = "text-align: center">-->
					<p class="help-block text-danger"></p>
				</div>
			</div>
			<div class="control-group">
				<div class="form-group floating-label-form-group controls mb-0 pb-2">
					<label>Phone Number</label>
					<input
						class="form-control"
						id="foodIngredients2"
						name='jeryo2'
						type="tel"
						placeholder="두번째 재료를 입력해주세요"
						required="required"
						data-validation-required-message="Please enter your phone number."
						style="text-align: center"
					/>
					<p class="help-block text-danger"></p>
				</div>
			</div>
			<br />

			<div id="success"></div>
			<div class="form-group" style="text-align: center">
				<button
					type="submit"
					class="btn btn-primary btn-xl"
					id="sendMessageButton"
				>
					레시피 추천받기
				</button>
			</div>
		</form>
		<% include ./components/footer %>
	</body>
</html>
